/*NAVBAR*/

nav{ 
  background-color: #f9f9f9;
  position: fixed;
  top: 0;
  left: -100%;
  height: 100vh;/* vh viewport*/
  width: 75%;
  z-index:3;
  transition: left 300ms ;
  overflow-y: auto;/*in caso di overflow*/
  }

nav.show{
  left: 0;
}

nav ul{
  list-style: none;
  width: 100%; 
  display: flex;
  flex-direction: column;
  align-items:center; /* Centra i li orizzontalmente */
  gap:15px; 
}

nav ul li{ 
  width: 100%;
}
nav ul li:first-of-type{
   display: flex;            
  justify-content: flex-start;   
  align-items: center;         
}/*per allineare l'icona a sinistra e il testo al centro*/

nav a{
  text-decoration: none;
  color: #000;
  width: 100%;  
  display: flex;            
  justify-content: center;   /* Centra orizzontalmente il contenuto (testo) */
  align-items: center;       /* Centra verticalmente il contenuto */
  width: 100%;
  height: 50px;
  border: 1px solid #c3c3c3;
}

#open-sidebar-button,#close-sidebar-button{
  display: block;  
  cursor: pointer;
}/*icone navbar*/

#overlay{
  background: rgba(255, 255, 255, 0.25);
  position: fixed;
  display: none;
  inset: 0;
  z-index: 2;
}/*spazio overlay*/

/*  HOVER NAV */
nav ul li a,form input[type="submit"] {
    background-color: #0757a9;
    color: #fff;
}
nav ul li a:hover, form input[type="submit"]:hover{
    color: #0757a9;
    background-color: #fff;
}

/* 2. MEDIA QUERY (DESKTOP) - navbar */
@media screen and (min-width: 768px) {
  body > div {
    display: flex; /* Allinea Nav e Main orizzontalmente */
    flex-direction: row;
    min-height: 100vh;
    gap: 15px; 
    padding-left: 10px;
    padding-right: 10px;
  }

  nav {
    display: none;      /* Nasconde la nav di base su desktop */
    position: static;   /* Rimuove il fixed */
    width: auto;        /* Rimuove il 75% */
    height: auto;
    transition: none;   /* Rimuove animazioni non necessarie */
  }

  nav.show {
    display: flex;      /* Appare al click */
    flex: 2;            /* Rapporto 1 */
  }

  main {
    flex: 7;            /* Rapporto 7 (occupa il resto se nav è chiusa è 100%) */
    /* Se nav è display:none, main occupa tutto il container automaticamente */
  }

  #overlay {
    display: none !important; /* Mai overlay su desktop */
  }
}

