:root {
    --popup-bg-color: #fd4646;
    --popup-text-color: #111111;
}

.popup {
    position: fixed;
    width: fit-content;
    left: 50%;
    z-index: 100;
    border-radius: 20px;
    box-shadow: 0px 0.3vw 1.5vw rgba(0, 0, 0, 0.5);
    opacity: 0;
    bottom: 100vh;
    transform: translateX(-50%);
    transition: transform 0.4s cubic-bezier(0.39, 0.575, 0.565, 1),
        opacity 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.popup.open {
    transform: translateX(-50%) translateY(calc(100% + 2vh));
    opacity: 1;
    transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1),
        opacity 0.5s cubic-bezier(0.19, 1, 0.22, 1),
        box-shadow 0.2s ease-in-out;
}

.popup.open:hover {
    box-shadow: 0px 0.3vw 1.5vw rgba(0, 0, 0, 0.7);
}

.popup__content {
    display: flex;
    width: min(90vw, 40rem); 
    max-width: 40vw;
    gap: 2rem;
    border-radius: inherit;
    background: var(--popup-bg-color);

    text-align: center;
    align-items: center;
    justify-content: center;
    
    padding: 0.5rem 1rem; 
    font-size: 1.2rem;  
    font-weight: 500;
}

.popup__icon {
   -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat; user-select: none;
    width: 1.5rem;
    height: 1.5rem;
    background: var(--popup-text-color);
    flex-shrink: 0; 
}

.popup__close {
    transform-origin: center center;
    background: var(--popup-text-color);
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    -webkit-mask-image: url("../images/icons/close_icon.svg");
    mask-image: url("../images/icons/close_icon.svg");
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.popup__close:hover {
    transform: scale(1.1);
}

.error-icon {
    -webkit-mask-image: url("../images/icons/error_icon.svg");
    mask-image: url("../images/icons/error_icon.svg");
}

/*POPUP TEXT*/
.popup__text {
    color: var(--popup-text-color);
    position: relative;
    flex: 1;    
}

/* schermi medi e piccoli */
@media only screen and (max-width: 810px) {
    .popup__content {
        max-width: 80vw;
        justify-content: space-around;
        font-size: 0.95rem;
        font-weight: 600;
    }
}

