/**********POST-list e POST*************/
/*post container*/
.post_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 10px;   
}

/* La Card del Post */
.Post {
    width: 100%;
    /*max-width: 850px;*/
    /*margin: 0 auto;*/ /* Centra orizzontalmente rispetto al contenitore */
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 16px;
    padding: 3px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    gap: 3px;
}


.Post footer {
    margin-top: 33px;
    padding-top: 8px;
    border-top: 1px solid #0757a9;
}

/* Header e Titolo */
.Post header h3 {
    color: #0757a9; 
    margin: 0 0 4px 0;
    font-size: 1.1rem;
}


/* Stile dei Tag */
ul.tags {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 3px;   
}


.tags li a {
    padding: 2px 6px;
    text-decoration: none;
    font-size: 0.8rem;
    font-weight: 600;
    border-radius: 8px;
    transition: 0.3s;
}

/* Colori differenziati per tipo di tag */
.tag.subject a { 
  background: #d1e3f8; 
  color: #0757a9; 
  border: 1px solid #0757a9;
 }
.tag.type a { 
  background: #fdf2d2; 
  color: #9a6e12; 
  border: 1px solid #9a6e12; 
}
.tag.topic a { 
  background: #e0f2f1; 
  color: #00695c; 
  border: 1px solid #00695c; 
}

.tags li a:hover {
    filter: brightness(0.9);
}


/* Footer e Review (Bordi sui li) */
.Post footer {
    margin-top: 0px;
    padding-top: 5px;
    border-top: 1px solid #d1dee7;
}

.review {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 0;
}

.review li {
    border: 1px solid #0757a9;
    border-radius: 8px;
    padding: 5px 12px;
    background: white;
    display: flex;
    align-items: center;
    transition: 0.2s;
}

.review li:hover {
    background-color: #0757a9;
}

.review li a, .review li data {
    color: #0757a9;
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: 600;
}

.review li:hover a, .review li:hover data {
    color: white;
}

/* Pulsanti icone */
.review button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin-right: 5px;
    display: flex;
}

.review img {
    width: 16px;
    /* Filtro per rendere l'icona blu come il titolo */
    filter: invert(24%) sepia(87%) saturate(2253%) hue-rotate(195deg) brightness(91%) contrast(101%);
}

.review li:hover img {
    filter: brightness(0) invert(1); /* Bianca su hover */
}
