/*Profile*/
 .container{
    display: flex;
    gap: var(--space-xs);
    align-items: flex-start;
}

.container > section {
    flex: 1;
}

.container > .profile {
    flex-shrink: 0;
    border-radius: var(--radius-full);
    background-color: var(--color-blue-700);
    color: var(--color-white);
    display: flex;
    justify-content: center;
    align-items: center; 
    width: var(--avatar-size);
    height: var(--avatar-size);
    font-weight: var(--fw-bold);
    border: var(--border-width-thin) solid var(--color-text);
}


