/*Profile*/
div .container{
    display: flex;
    justify-content: space-evenly;
}
div .profile {
    border-radius: var(--radius-full);
    background-color: var(--color-blue-700);
    color: var(--color-white);
    display: flex;
    justify-content: center;
    align-items: center; 
    width: var(--avatar-size);
    height: var(--avatar-size);
    font-weight: var(--fw-bold);
    border: var(--border-width-thin) solid var(--color-text);
}

/*studentPreferences*/
main > form > fieldset.student-preferences-fieldset {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
