
html,body,main,nav{
    margin: 0;
    padding: 0;    
}
*{
  box-sizing: border-box;
}
body{
    padding-top: 35px;
}
img{
  width: 40px;
}

/*HEADER*/
body > header {
    display: flex;
    width:100%;
    justify-content: space-between; 
    height:33px;

    align-items: center; 
    background-color: #ffffff; 
    position: fixed;
    top: 0;
    right: 0;
    left:0;
    padding: 5px 0;/*altrimenti fuoriesce*/
    border-bottom: 1px solid #000;
    z-index: 1;
    color: #0757a9;
}
header > button{
    height: 35px;
    width:40px;
    background-color: #fff;
    border:#fff;

} 

/*NAVBAR*/

nav{
  
  background-color: #f9f9f9;
  position: fixed;
  top: 0;
  left: -100%;
  height: 100vh;/* vh viewport*/
  width: 75%;
  z-index:3;
  transition: left 300ms ;
  
  overflow-y: auto;/*in caso di overflow*/
  }

nav.show{
  left: 0;
}
nav div{
  display: flex;
  flex-direction: column;
  width:90% 
}
nav ul{
  list-style: none;
  width: 100%;

  
  display: flex;
  flex-direction: column;
  align-items:center; /* Centra i li orizzontalmente */
  
  gap:15px;

}
nav ul li{ 
  width: 100%;
}

nav ul li:first-of-type{
   display: flex;            /* Rende il div un contenitore flex */
  justify-content: flex-start;   /* Centra orizzontalmente il contenuto (testo) */
  align-items: center;       /* Centra verticalmente il contenuto */ 
}
nav a{
  text-decoration: none;
  width: 100%; 
  
  display: flex;            
  justify-content: center;   
  align-items: center;       
  width: 100%;
  height: 30px;
  border: 0.5px solid #c3c3c3;
}
/*icone navbar*/
#open-sidebar-button{
  display: block; 
  cursor: pointer;
}
#close-sidebar-button{
  display: block;  
  cursor: pointer;
}
/*spazio overlay*/
#overlay{
  background: rgba(255, 255, 255, 0.25);
  position: fixed;
  display: none;
  top:0;
  bottom:0;
  right:0;
  left:0;
  z-index: 2;
}

/*  HOVER */
 a,form input[type="submit"] {
    background-color: #0757a9;
    color: #fff;
}

a:hover,a:active,a:focus,
form input[type="submit"]:hover,
form input[type="submit"]:active,
form input[type="submit"]:focus {
    color: #0757a9;
    background-color: #fff;
}

/* 2. MEDIA QUERY (DESKTOP) */
  
  /* 2. MEDIA QUERY (DESKTOP) - navbar */
@media screen and (min-width: 768px) {
  body > div .container-nav-main {
    display: flex; /* Allinea Nav e Main orizzontalmente */
    flex-direction: row;
    min-height: 100vh;
    gap: 15px; 
    

    /*padding-left: 10px;
    padding-right: 10px;*/
  }

  nav {
    display: none;      /* Nasconde la nav di base su desktop */
    position: static;   /* Rimuove il fixed */
    width: auto;        /* Rimuove il 75% */
    height: auto;
    transition: none;   /* Rimuove animazioni non necessarie */
  }

  nav.show {
    display: flex;      /* Appare al click */
    flex: 1;            /* Rapporto 1 */
  }

  main {
    flex: 6;            /* Rapporto 6 (occupa il resto se nav è chiusa è 100%) */
    /* Se nav è display:none, main occupa tutto il container automaticamente */
  }

  #overlay {
    display: none !important; /* Mai overlay su desktop */
  }
}
